.owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.ownerName {
    font-size: 1.2rem;
    font-weight: bold;
}

.ownerActions {
    display: flex;
    align-items: center;
}

.ownerAnimals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}
